# for jekyll
_site
.sass-cache
.jekyll-metadata

# for node and semantic
node_modules
semantic/dist/components
semantic/dist/themes/*
!semantic/dist/*.js
!semantic/dist/*.css
!semantic/dist/themes/default/
