<div class="ui hidden divider"></div>

<div class="ui text container"> 


  <h3 class="ui horizontal divider header"> Education </h3>
  <h4 class="ui header"> 
    Ph.D. in Computer Science, UC Berkeley
    <div class="sub header"> 2014 - </div>
  </h4>

  <h4 class="ui header"> 
    M.S. in Mechanical Engineering, UC Berkeley,
    <div class="sub header"> 2010 - 2014 </div>
  </h4>

  <h3 class="ui horizontal divider header"> Research Experience </h3>

  <h4 class="ui header">
    Hybrid Ecologies Lab, Professor Eric Paulos
    <div class="sub header">Work with eric paulos</div>
    <div class="sub header">second line here</div>
  </h4>

  <h4 class="ui header">
    Poly-Pedal Lab, Professor Robert Full and Professor Chen Li  
    <div class="sub header">Work with eric paulos</div>
    <div class="sub header">second line here</div>
  </h4>

  <h4 class="ui header">
    Robot Stuff, Professor Ken Goldberg  
    <div class="sub header">Work with Ken Goldberg</div>
    <div class="sub header">second line here</div>
  </h4>
 

  <h3 class="ui horizontal divider header"> Active Projects</h3>

  <h4 class="ui header">
    Woodworking and Smart Tools 
    <div class="sub header">Under Submission</div>
  </h4>
    
  <h3 class="ui horizontal divider header"> Teaching Experience </h3>

  <h4 class="ui header">
    Interactive Device Design, Professor Bjoern Hartmann
    <div class="sub header">Fall 2017</div>
    <div class="sub header"></div>
  </h4>
   
  <h4 class="ui header">
    Critical Making, Professor Eric Paulos
    <div class="sub header">Spring 2016</div>
    <div class="sub header"></div>
  </h4>

  <h3 class="ui horizontal divider header"> Coursework</h3>

    <h4 class="ui header">
      Graphics 
      <div class="sub header">CS284A - Introduction to Computer Graphics</div>
      <div class="sub header">CS284B - Advanced Computer Graphics</div>
    </h4>
     
    <h4 class="ui header">
      Electromechanical 
      <div class="sub header">ME102B</div>
      <div class="sub header">EECS249A - Introduction to Embedded Systems</div>
      <div class="sub header">Interactive Device Design</div>
    </h4>
  
    <h4 class="ui header">
      CAD 
      <div class="sub header">ME290D: CAD CAM</div>
      <div class="sub header">Digifab</div>
    </h4>
 

  <h3 class="ui horizontal divider header"> Publications </h3>

    <h4 class="ui header">
     MyPart: Personal, Portable, Accurate, Airborne Particle Counting
      <div class="sub header">CHI 2016</div>
      <div class="sub header"><i>Rundong Tian,</i> Christine Dierk, Chris Myers, Eric Paulos</div>
    </h4>
     
    <h4 class="ui header">
      Biosignals as Social Cues: Ambiguity and Emotional Interpretation in Social Displays of Skin Conductance
      <div class="sub header">DIS 2016</div>
      <div class="sub header">Noura Howell, Laura Devendorf, <i>Rundong 'Kevin' Tian,</i> Tomás Vega Galvez, Nan-Wei Gong, Ivan Poupyrev, Eric Paulos, Kimiko Ryokai</div>
    </h4>

    <h4 class="ui header">
      Sensory Triptych: Here, Near, Out There>
      <div class="sub header">UIST 2014</div>
      <div class="sub header">Eric Paulos, Chris Myers, Rundong Tian, Paxton Paulos</div>
    </h4>
  
  <h3 class="ui horizontal divider header"> Awards </h3>

    <h4 class="ui header">
      NSF Graduate Research Fellowship, Honorable Mention 
     <div class="sub header">YEAR</div>
    </h4>
     

  

</div> <!-- end ui text container -->
