<div class="ui hidden divider"></div>

<div class="ui text container"> 

  <h3 class="ui horizontal divider header"> Education </h3>
  <h4 class="ui header"> 
    Ph.D. in Computer Science, UC Berkeley
    <div class="sub header"> Advised by Eric Paulos </div>
    <div class="sub header"> 2014 - current</div>
  </h4>

  <h4 class="ui header"> 
    B.S. in Mechanical Engineering, UC Berkeley
    <div class="sub header"> 2010 - 2014 </div>
  </h4>

  <h3 class="ui horizontal divider header"> Research Experience </h3>

  <h4 class="ui header">
    <a href="http://www.hybrid-ecologies.org/" target="_blank">Hybrid Ecologies Lab</a>, <i><a href="http://www.paulos.net/" target="_blank">Professor Eric Paulos</a></i>
    <div class="sub header">May 2013 - current</div>
    <div class="sub header">Research Themes: Digital Fabrication, Citizen Science</div>
  </h4>

  <h4 class="ui header">
      PhD Research Intern, Siemens Corporate Technology
      <div class="sub header">Summer 2018</div>
      <div class="sub header">Designed and prototyped interactive systems to explore the concept of 'digital companions' for personal fabrication. </div>
    </h4>

  <h4 class="ui header">
    <a href="http://polypedal.berkeley.edu/" target="_blank">Poly-Pedal Lab</a>, <i><a href="https://ib.berkeley.edu/people/faculty/fullr" target="_blank">Professor Robert Full</a> and <a href="https://li.me.jhu.edu/" target="_blank"> Chen Li</a>  </i>
    <div class="sub header">June 2013 - March 2014</div>
    <div class="sub header">Collaborated with a multi-disciplinary team to study and model novel insect dynamics.</div>
    <div class="sub header">
Designed, fabricated, and tested modular robots that mimic the righting strategies of a winged cockroach.
    </div>
  </h4>

  <h4 class="ui header">
    <a href="http://autolab.berkeley.edu/" target="_blank">Automation Science and Engineering Laboratory</a>, <i> <a href="http://goldberg.berkeley.edu/" target="_blank">Professor Ken Goldberg</a>  </i>
    <div class="sub header">January - September 2013</div>
    <div class="sub header">Created fixtures and experimental setups for the <a target="_blank" href="http://citris-uc.org/telehealth/project/raven-surgical-robotic-system/">RAVEN</a> surgical robot. Developed novel methods for quantitatively and qualitatively evaluating the accuracy of a robot without joint encoders.</div>
    <div class="sub header">Designed a human operable 3D printed PR2 gripper ('glove') to gather learning from demonstration data through computer vision.</div>
  </h4>
 
  <h4 class="ui header">
    <a href="https://www.ocf.berkeley.edu/~rutian/tdl.html" target="_blank">Tennis Dynamics Laboratory</a>, <i><a href="https://en.wikipedia.org/wiki/J._Karl_Hedrick" target="_blank">Professor Karl Hedrick</a></i>
    <div class="sub header">June 2012 - June 2013</div>
    <div class="sub header">Overhauled the mechanical and electrical design of a device that quantitatively measures the 'pace' of a tennis court. Created a system of ad hoc light gates to capture before and after bounce velocities of a tennis ball when it impacts a court. </div>
  </h4>
 
    
  <h3 class="ui horizontal divider header"> Teaching Experience </h3>

  <h4 class="ui header">
    <a href="https://www2.eecs.berkeley.edu/Courses/CS160/" target="_blank">User Interface Design and Development</a>, <i><a href="https://people.eecs.berkeley.edu/~bjoern/" target="_blank">Professor Bjoern Hartmann</a></i>
    <div class="sub header">Spring 2019</div>
    <div class="sub header"></div>
  </h4>

  <h4 class="ui header">
    <a href="https://hci.berkeley.edu/devicedesign/" target="_blank">Interactive Device Design</a>, <i><a href="https://people.eecs.berkeley.edu/~bjoern/" target="_blank">Professor Bjoern Hartmann</a></i>
    <div class="sub header">Fall 2017</div>
    <div class="sub header"></div>
  </h4>
   
  <h4 class="ui header">
    <a href="http://make.berkeley.edu/" target="_blank">Critical Making</a>, <i><a href="http://www.paulos.net/" target="_blank">Professor Eric Paulos</a></i>
    <div class="sub header">Spring 2016</div>
    <div class="sub header"></div>
  </h4>


  <h3 class="ui horizontal divider header"> Publications </h3>

    <h4 class="ui header">
      <a href="http://dx.doi.org/10.1145/3332165.3347918" target="_blank">Turn-by-Wire: Digitally Mediated Physical Fabrication</a>
      <div class="sub header">UIST 2019</div>
      <div class="sub header"><i>Rundong Tian</i>, Vedant Saran, Mareike Kritzler, Florian Michahelles, Eric Paulos</div>
    </h4>

    <h4 class="ui header">
      <a href="https://dl.acm.org/citation.cfm?doid=3173574.3173723" target="_blank">MatchSticks: Woodworking through Improvisational Digital Fabrication</a>
      <div class="sub header">CHI 2018, <em>Nominated for Best Paper Award</em></div>
      <div class="sub header"><i>Rundong Tian</i>, Sarah Sterman, Ethan Chiou, Jeremy Warner, Eric Paulos</div>
    </h4>

    <h4 class="ui header">
      <a href="https://dl.acm.org/citation.cfm?id=3174005" target="_blank">Tensions of Data-Driven Reflection: A Case Study of Real-Time Emotional Biosensing</a>
      <div class="sub header">CHI 2018</div>
      <div class="sub header">Noura Howell, Laura Devendorf, Tomás Alfonso Vega Gálvez, <i>Rundong Tian</i>, Kimiko Ryokai</div>
    </h4>

    <h4 class="ui header">
      How to build a low cost <a href="http://www.instructables.com/id/How-to-Build-a-Portable-Accurate-Low-Cost-Open-Sou/" target="_blank">laser air particle counter</a>, <a href="http://www.instructables.com/id/How-to-Build-a-Test-Chamber-for-Air-Particle-Senso/" target="_blank">aerosol test chamber</a>, and <a href="http://www.instructables.com/id/How-to-Build-a-Monodisperse-Particle-Generator-for/" target="_blank">monodispersed particle generator</a>. 
      <a href="https://dl.acm.org/citation.cfm?doid=2858036.2858571" target="_blank"></a>
      <div class="sub header">Instructables 2016</div>
      <div class="sub header"><i>Rundong Tian</i> and <a href="https://people.eecs.berkeley.edu/~ssterman/" target="_blank">Sarah Sterman</a> </div>
    </h4>


    <h4 class="ui header">
      <a href="https://dl.acm.org/citation.cfm?doid=2858036.2858571" target="_blank">MyPart: Personal, Portable, Accurate, Airborne Particle Counting</a>
      <div class="sub header">CHI 2016</div>
      <div class="sub header"><i>Rundong Tian,</i> Christine Dierk, Chris Myers, Eric Paulos</div>
    </h4>
    <h4 class="ui header">
      <a href="https://dl.acm.org/citation.cfm?doid=2901790.2901850" target="_blank">Biosignals as Social Cues: Ambiguity and Emotional Interpretation in Social Displays of Skin Conductance</a>
      <div class="sub header">DIS 2016</div>
      <div class="sub header">Noura Howell, Laura Devendorf, <i>Rundong Tian,</i> Tomás Vega Galvez, Nan-Wei Gong, Ivan Poupyrev, Eric Paulos, Kimiko Ryokai</div>
    </h4>

    <h4 class="ui header">
      <a href="https://dl.acm.org/citation.cfm?doid=2642918.2647410" target="_blank">Sensory Triptych: Here, Near, Out There</a>
      <div class="sub header">UIST 2014</div>
      <div class="sub header">Eric Paulos, Chris Myers, <i>Rundong Tian</i>, Paxton Paulos</div>
    </h4>

  <h3 class="ui horizontal divider header"> Other Research Activity </h3>

    <h4 class="ui header">
      <a href="https://dl.acm.org/citation.cfm?id=3356881" target="_blank">Lucid Fabrication</a>
      <div class="sub header">UIST 2019, Doctoral Symposium</div>
      <div class="sub header"> <i>Rundong Tian</i></div>
    </h4>

    <h4 class="ui header">
      <a href="https://rutian.github.io/projects/TBW/" target="_blank">Turn-by-Wire Demo</a>
      <div class="sub header">UIST 2019, Demo Reception</div>
      <div class="sub header"> <i>Rundong Tian</i></div>
    </h4>

  <h3 class="ui horizontal divider header"> Other Employment </h3>

    <h4 class="ui header">
      Publication Assistant, New Student Services, UC Berkeley
      <div class="sub header">March 2011 - December 2013</div>
      <div class="sub header">Automated various repetitive web and print publishing tasks. Filmed interviews and photographed events for campus websites and publications. </div>
    </h4>


  <h3 class="ui horizontal divider header"> Awards </h3>

    <h4 class="ui header">
      NSF Graduate Research Fellowship, Honorable Mention 
     <div class="sub header">2015</div>
    </h4>
     

  <h3 class="ui horizontal divider header">Coursework</h3>

    <h4 class="ui header">
      Computer Aided Design and Fabrication
      <div class="sub header">ME290D: 	Solid Modeling and CAD/CAM Fundamentals</div>
      <div class="sub header">CS294-119: Computational Design + Fabrication </div>
    </h4>


    <h4 class="ui header">
      Graphics 
      <div class="sub header">CS284A - Introduction to Computer Graphics</div>
      <div class="sub header">CS284B - Advanced Computer Graphics Algorithms and Techniques</div>
    </h4>
     
    <h4 class="ui header">
      Electromechanical 
      <div class="sub header">EECS249A - Introduction to Embedded Systems</div>
      <div class="sub header">ME102B - Mechatronic Design</div>
      <div class="sub header">ME290U - Interactive Device Design</div>
      <div class="sub header">ME135 - Design of Microprocessor-Based Mechanical Systems</div>
    </h4>

    <h4 class="ui header">
      FUNdaMENTALs 
      <div class="sub header">CS61C: Machine Structures, Great Ideas in Computer Architecture</div>
      <div class="sub header">CS61B: Data Structures and Algorithms </div>
      <div class="sub header">Heat Transfer, Dynamic Systems and Feedback, Elementary Fluid Mechanics, Structural Engineering, Engineering Mechanics, Solid Mechanics, Thermodynamics, Mechanical Behavior of Engineering Material </div>
    </h4>

    <h4 class="ui header">
      Environmental Design 
      <div class="sub header">Architecture 259: Tensile Bending </div>
      <div class="sub header">Architecture 259: Variable Property Design and Fabrication</div>
      <div class="sub header">Environmental Design 11A</div>
      <div class="sub header">Environmental Design 1</div>
    </h4>

</div> <!-- end ui text container -->
