<!-- typekit fonts -->
<link rel="stylesheet" href="https://use.typekit.net/uzk6her.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-72721722-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-72721722-1');
</script>

<!-- Semantic UI and overrides -->
<link rel="stylesheet" type="text/css" href={{ "semantic/semantic.css" | absolute_url }}>
<link rel="stylesheet" type="text/css" href={{ "styles/main.css" | absolute_url }}>


<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<!-- Javascripts --> 
<script src={{ "semantic/semantic.js" | absolute_url}}></script>
<script src={{ "scripts/main.js" | absolute_url}}></script>


<!-- FONTS --> 
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">


<div class="ui text container">

  <div class="ui text stackable menu">

    <div class="header item">Rundong Tian </div>   

    <a href={{ "index" | absolute_url}} class="kevinAbout item">
      About
    </a>

    <a href={{ "projects" | absolute_url}} class=" kevinProject item">
      Projects
    </a>

    <a href={{ "experimentsByTopic" | absolute_url}} class="kevinExperiment item">
      Experiments
    </a>



  </div> <!-- end ui text menu -->

<div class="ui hidden divider"></div>

</div>


