<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-72721722-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-72721722-1');
</script>

<!-- Semantic UI -->
<link rel="stylesheet" type="text/css" href={{ "semantic/dist/semantic.min.css" | absolute_url }}>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src={{ "semantic/dist/semantic.min.js" | absolute_url}}></script>


<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">


<div class="ui text container">

  <div class="ui text stackable menu">
    <div class="header item">Rundong Tian </div>   
    <a href={{ "index" | absolute_url}} class="kevinAbout item">
      About
    </a>
    <a href={{ "projects" | absolute_url}} class=" kevinProject item">
      Projects
    </a>
    <a href={{ "experiments" | absolute_url}} class="kevinExperiment item">
      Experiments
    </a>

  </div> <!-- end ui text menu -->

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

</div>


