<link rel="stylesheet" type="text/css" href={{ "semantic/dist/semantic.min.css" | absolute_url }}>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src={{ "semantic/dist/semantic.min.js" | absolute_url}}></script>


<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">



<div class="ui text container">

  <div class="ui text stackable menu">
    <div class="header item">Rundong Tian </div>   
    
    <a href={{ "" | absolute_url}} class="active item">
      About
    </a>
    <a href={{ "projects" | absolute_url}} class="item">
      Projects
    </a>
    <a class="item">
      Experiments
    </a>

  </div> <!-- end ui text menu -->

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

</div>


