---
layout: default
title: experiments 
---

<!-- paginated blog entries page--> 

<!-- Pagination links -->
 {%include experimentsHeader.html%} 


<div class="ui center aligned container">

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><i class="angle left icon"></i></a>
  {% else %}
    <a href={{"experiments/directory" | absolute_url }}><i class="small list icon"></i></a>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next"><i class="angle right icon"></i></a>
  {% else %}
    <a href={{"experiments/directory" | absolute_url }}> <i class="small list icon"></i> </a>
  {% endif %}
</div>

<div class="ui divider"></div>

<div class="ui center aligned container">

<!-- This loops through the paginated posts -->

{% for post in paginator.posts %}
  
<h3 class="ui header"><a href="{{ post.url }}">{{ post.title }}</a> 
    <div class="sub header"> 
      {{post.date | date_to_string}} 
    </div>
</h3>



{{post.content}}

<div class="ui section divider"></div>

{% endfor %}

</div>

<div class="ui hidden divider"></div>


<!-- Pagination links footer set-->
<div class="ui center aligned container">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><i class="angle left icon"></i></a>
  {% else %}
    <a href={{"experiments/directory" | absolute_url }}> <i class="small list icon"></i></a>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next"><i class="angle right icon"></i></a>
  {% else %}
    <a href={{"experiments/directory" | absolute_url }}> <i class="small list icon"></i> </a>
  {% endif %}
</div>






<script>
$( document ).ready(function() {
  $(".kevinExperiment").addClass( "active" );
  $(".byTime").addClass( "active" );
});
</script>




