---
---

{% include header.html %}

<div class="ui text container">

  <div class="ui stackable centered grid">
  
    <div class="ten wide justified column">
    <p id="bio"> 
    I am a PhD candidate at UC Berkeley advised by <a href ="http://www.paulos.net" >Eric Paulos</a>.  In my research, I probe new workflows for digital fabrication through the process of building and evaluating interactive fabrication tools.
    <br>
    <br>
    As an undergraduate at Berkeley, I was involved in research with the <a href="http://polypedal.berkeley.edu" target="_blank">Poly-PEDAL Lab</a> with Robert Full and the <a href="http://autolab.berkeley.edu/" target="_blank">Berkeley Laboratory for Automation Science and Engineering</a> with Ken Goldberg. 

    </p>

  
    </div> <!-- end ten wide justified column-->
  
  
    <div class="six wide column stackable">
    <img class="ui image" src={{ "media/face.png" | absolute_url }}>
    </div>


    <div class="ten wide stackable left aligned column left floated">

    
    <div class="ui list" id="forwarding">
      <div class="item">
        <i class="middle aligned map outline icon"></i>
        <div class="middle aligned content">
           <a href="https://goo.gl/maps/PrwR3krZdYmNKFJA9"> Berkeley, CA </a>
        </div>
      </div>

      <div class="item">
        <i class="middle aligned mail icon"></i>
        <div class="middle aligned content">
          <a href="mailto:rundong@berkeley.edu">rundong@berkeley.edu</a>
        </div>
      </div>
  
      <div class="item">
        <i class="middle aligned camera retro icon"></i>
        <div class="middle aligned content">
          <a href="https://www.flickr.com/photos/99821513@N07/">Flickr</a>
        </div>
      </div>
  
      <div class="item">
        <i class="middle aligned align left icon"></i>
        <div class="middle aligned content">
          <a id="cvToggle" >CV</a>
        </div>
      </div>
  
    </div> <!-- end ui list -->

    </div> <!-- end column -->
  
  
  </div> <!-- end centered grid -->

<div id="cv" style="display:none">{% include CV.html %}</div>

{% include footer.html %}



<script>
$(document).ready(function(){
  $("#cvToggle").click(function(){
    $("#cv").toggle("fast","swing");
  });
  $(".kevinAbout").addClass( "active" );


});
</script>
