---

---

{% include header.html %}

<div class="ui text container">

<h2 class="ui dividing header">Digital Fabrication</h2>
<div class="ui stackable vertically divided grid">
  <div class="two column row">

      <div class="column">
        <a href={{ "projects/TBW" | absolute_url }} class="ui image">
          <img src={{ "media/orange.jpg" | absolute_url }}>
          Turn-by-Wire, UIST 2019 
        </a>
       </div>

      <div class="column">
        <a href={{ "projects/MS" | absolute_url }} class="ui image">
          <img src={{ "media/woodroubo.jpg" | absolute_url }}>
          What wood you make, CHI 2018 
        </a>
      </div>
  </div> <!--END two column row -->
</div>

<h2 class="ui dividing header">Citizen Science</h2>
<div class="ui stackable vertically divided grid">
  <div class="two column row">
  
      <div class="column">
        
        <a href={{ "projects/mypartRedux" | absolute_url }} class="ui image">
          <img src={{ "media/MyPart_V0_with_case_exploded.png" | absolute_url }}>
          Mypart Redux, 2017
        </a>
      </div>

      <div class="column">

        <a href={{ "projects/mypart" | absolute_url }} class="ui image">
          <img src={{ "media/mypart.jpg" | absolute_url }}>
          MyPart, CHI 2016 
        </a>
        <br> 
       </div>
  
      <div class="column">
        
        <a href={{ "projects/sensoryTriptych" | absolute_url }} class="ui image">
          <img src={{ "media/plane.jpg" | absolute_url }}>
           Sensory Triptych, UIST 2014
        </a>
        <br>

      </div>

  </div> <!-- end two column row -->

</div> <!-- end stackable header -->

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>




</div> <!-- end ui text container -->
{% include footer.html %}


<script>
$( document ).ready(function() {
  $(".kevinProject").addClass( "active" );
});
</script>
