---

---


{% include header.html %}

<div class="ui text container">

<h3 class="ui header">Research</h1>
<div class="ui divider"></div>
<div class="ui stackable vertically divided grid">
  <div class="two column row">
      <div class="column">

        <a href={{ "projects/wood" | absolute_url }} class="ui image">
          <img src={{ "media/woodroubo.jpg" | absolute_url }}>
          What wood you make? 2017 
        </a>
       </div>
  
      <div class="column">
        
        <a href={{ "projects/mypartRedux" | absolute_url }} class="ui image">
          <img src={{ "media/MyPart_V0_with_case_exploded.png" | absolute_url }}>
          Mypart Redux, 2017
        </a>
      </div>

      <div class="column">

        <a href={{ "projects/mypart" | absolute_url }} class="ui image">
          <img src={{ "media/mypart.jpg" | absolute_url }}>
          MyPart, 2016 
        </a>
        <br> 
       </div>
  
      <div class="column">
        
        <a href={{ "projects/sensoryTriptych" | absolute_url }} class="ui image">
          <img src={{ "media/plane.jpg" | absolute_url }}>
           Sensory Triptych, 2014
        </a>
        <br>

      </div>

  </div> <!-- end two column row -->

</div> <!-- end stackable header -->

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

<h3 class="ui header">Coursework</h1>

<div class="ui divider"></div>

<div class="ui stackable vertically divided grid">
  <div class="three column row">
      <div class="column">
        <a href={{ "projects/2Dmulti" | absolute_url }} class="ui image">
          <img src={{ "media/gripper.jpg" | absolute_url }}>
          2D Multimaterial, 2015
        </a>        
      </div>
  
      <div class="column">
        <a href={{ "projects/digifab" | absolute_url }} class="ui image">
          <img src={{ "media/digifab.jpg" | absolute_url }}>
          Digifab, 2015
        </a>
      </div>
  
      <div class="column">
        <a href={{ "projects/fish" | absolute_url }} class="ui image">
          <img src={{ "media/fish.jpg" | absolute_url }}>
           Animatronic Fish, 2014
        </a>
      </div>

  </div> <!-- end two column row -->

</div> <!-- end stackable header -->



</div> <!-- end ui text container -->
{% include footer.html %}


<script>
$( document ).ready(function() {
  $(".kevinProject").addClass( "active" );
});
</script>
