/* variable definitions */ 
:root {
  --serifFont: eb-garamond, serif;/*'Libre Franklin', sans-serif;*/
  --sanSerifFont: futura-pt, sans-serif;/*'Libre Baskerville', serif;*/
  --sanSerifFontB: din-2014, sans-serif; 
  
  /* COLORS */
  --silver: #999B9B; /* silver          */
  --pearl:  #4D4B50; /* blackened peral */
  --cgreen: #757A4E; /* calliste green  */
  --UV:     #5f4b8b; /* ultraviolet     */
  --sea:    #195190; /* turkish sea     */
  --moon:   #4087A6; /* blue moon       */
}

a{
  color: var(--cgreen)!important;
}

a:hover{
  color: var(--UV) !important;
}

/*icon, navigation for pagination */
a i {
  text-decoration: none !important;
}

/* default for all font */
.ui{
  font-family: var(--sanSerifFont);
}

p { 
  font-family: var(--serifFont) !important;
  font-weight: 400 !important;
  color: #4D4B50 !important;
  font-size:1.3rem;
}

p strong{
  font-weight: 500 !important;
}

/*header stuff*/
.ui.text.stackable.menu{
  font-family: var(--sanSerifFont);
  font-size:1.2rem;
}

/*header stuff*/
.ui.text.stackable.menu {
  font-family: var(--sanSerifFont);
  font-size:1.3rem;
}

/*link in the header */
.ui.text.stackable.menu a{
  color: var(--silver) !important;
}

/*link in the header */
.ui.text.menu a:hover{
  color: var(--UV) !important;
}

.ui.text.menu a.active{
  color: var(--UV) !important;
  backg
}

/*RUNDONG TIAN part of the header*/
.header.item{
  font-weight: 400 !important;
  font-size:1.3rem !important;
  text-transform: capitalize !important;
}

/*HEADER*/
h1,h2{
  font-family: var(--sanSerifFont) !important;
  font-weight:400 !important;
  color: var(--pearl) !important;
}

h1 {
  font-size: 2.0rem !important;
}

h1 .sub.header{
  font-size: 1.3rem !important;
}

h2 {
  font-size: 1.5rem !important;
}


h3,h4{
  font-family: var(--sanSerifFont) !important;
  font-weight:400 !important;
  color: var(--pearl) !important;
}

/* image style, same height please, when two images side by side are different aspect ratios */ 
.cover {
  object-fit: cover;
}

/* forwarding links at the bottom of the bio */
#forwarding {
  font-family: var(--serifFont) !important;
  font-size: 1.2rem;
}

/* footer yo */
#footer p {
  font-family: var(--sanSerifFont) !important;
  font-size:1.1rem !important;
}

